<mat-toolbar color="primary">
  <span>
    <a mat-button [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['listcolor']"
      [routerLink]="['/']">Posts</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <div class="spacer">
        <a mat-button *ngIf="isAutheticated" routerLinkActive="mat-warn"
          [routerLink]="['/create']">create-post</a>
      </div>
    </li>
    <li>
      <a mat-button [routerLinkActiveOptions]="{exact: true}" *ngIf="!isAutheticated" routerLinkActive="mat-warn" [routerLink]="['/auth']">login</a>
    </li>
    <li>
      <a mat-button [routerLinkActiveOptions]="{exact: true}" *ngIf="!isAutheticated" [routerLinkActive]="['mat-warn']" [routerLink]="['/auth/signup']">signup</a>
    </li>
    <li>
      <button mat-button type="button" (click)="Logout()" *ngIf="isAutheticated">Logout</button>
    </li>
  </ul>
</mat-toolbar>
