mat-card {
  align-items: center;
  width: 600px;
  margin-top: 50px;
  margin-left: 300px;
}

mat-form-field {
  width: 80%;
}

.previewImg img {
  width: 100px;
  height: 100px;
}

input[type="file"] {
  visibility: hidden;
}

button {
  /* margin-left: 10px; */
}
